* {

    padding: 0;
    margin: 0;

}

img {

    width: 100%;

}

iframe {

    display: none;

}

a {

    text-decoration: none;

}


.fondo {

    min-height: 100vh;
    position: fixed;
    width: 100%;
    background-image: url(../img/fondo.png);
    z-index: -1;

}

/**Lista de reproduccion lateral**/

.lista_reproduccion {

    background-color: #000814;
    width: 23%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    padding: 1%;

}

/**oculta barra de scroll :) **/

::-webkit-scrollbar {
    display: none;
}

.perfil_superior {

    display: flex;
    flex-direction: column;
    border-bottom: solid 2px #FFFFFF;
    margin: 0 0 10%;
    padding: 5%;

}

.perfil_superior button{

    margin: 0.3em 0;
    width: 10em;
    height: 3em;
    font-size: 1.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ffd60a;
    border: none;
    border-radius: 10px;

}

/**Esto configura las canciones individualmente**/

.cancion {

    background-color: #001D3D;
    height: auto;
    width: 90%;
    margin: 2em 0;
    border-radius: 1em;
    font-size: 0.8em;

}

.cancion img {

    width: 40%;
    display: inline-block;
    border-radius: 1em;

}

.titulos {

    color: #FFFFFF;
    vertical-align: top;
    width: 50%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;

}

.titulos p {

    margin-bottom: 0;

}

.titulos h3 {

    font-size: 1.4em;
    margin-top: 1em;

}

/**configuracion de el barra de busqueda superior**/


/**Vamos a tener que arreglar algo de aqui**/
nav {

    margin-left: 23%;
    position: fixed;
    width: 79%;
    background-color: #001D3D;
    height: 2.8em;
    color: #FFC300;
    padding: 0.8em;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    z-index: 4;

}

#ajustes {

    margin-right: 1em;

}

nav svg {

    fill: #FFC300;
    width: 2em;
    height: auto;
    margin: 0 0.3em;

}

/**modificacion del a barra de busqueda input search **/

.busqueda {

    background-color: #003566;
    border: none;
    border-radius: 3em;
    width: 90%;
    color: #000814;
    font-size: 0.5em;
    padding: 0 1em;
    margin: 0 2em 0 0.3em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;

}

/***empezamos con los contenedores de recomendacion**/

.content {

    margin-left: 23%;
    margin-bottom: 2em;
    height: 40em;
    text-align: center;

}

.principal {

    padding: 9em 2em 0;
    border-bottom: solid white 2px;
    
}

.principal img {

    width: 30%;
    border-radius: 10%;

}

/**carrusel imagenes**/

/**segunda seccion me voy a salir del sena**/

.recomendados {

    display: inline-block;
    width: 24%;
    text-align: left;
    
}


.secundario {

    height: 30em;
    margin-bottom: 5em;

}

/**barra de musica**/

.barra {

    position: fixed;
    bottom: 0;
    height: 10em;
    width: 100%;
    background-color: #fff; /* Ajusta el color de fondo según tu diseño */
    z-index: 1000;
    margin-left: 23%;
    background-color: #001D3D;

}

.barra .cancion {

    width: 19%;
    display: inline-block;
    margin: 0 2em;

}
.controles {

    width: 70%;
    display: inline-block;

}

.tiempo {

    width: 100%;

}

.tiempo input {

    appearance: none;
    width: 100%;
    background-color: #fff;
    height: 2px;
    margin: 1em;

}

.tiempo ::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: #FFF;
    cursor: pointer;
    border-radius: 50%;
}

.controles button {

    border: none;
    background-color: transparent;
    font-size: 2em;
    color: #FFC300;
    margin: 0 1.5%;

}

.boton-pausa {

    font-size: 3em !important;

}

.sonido input {

    vertical-align: middle;
    appearance: none;
    background-color: #FFC300;
    height: 2px;
    margin: 1em;

}

.icono-sonido {

    margin-right: -1em;

}

.sonido ::-webkit-slider-thumb{

    -webkit-appearance: none;
    appearance: none;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #FFC300;

}
